body {
    font-family: "Ubuntu";
    background-color: rgb(16, 19, 45);
    color: rgb(188, 199, 215);
    overflow-x: hidden;
}

.carousel-item:after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #38b6ff55;
}

.text-blue {
    color: #38b6ff;
}

.bg-blue {
    background-color: #38b6ff;
}

.bg-dark {
    background-color: rgb(36, 41, 78) !important;
}

hr {
    border-color: #38b6ff;
    margin-bottom: 40px;
    border-width: 2px;
}

.text-light {
    color: rgb(188, 199, 215) !important;
}

.text-gray {
    color: rgb(135, 142, 184) !important;
}

.text-dark {
    color: rgb(76, 79, 133) !important;
}

.accounts-links {
    transition: 0.2s ease-in-out;
}

.accounts-links:hover {
    transform: translate(0px, -3px);
}

.accounts-links a {
    transition: 0.2s ease-in-out;
}

.accounts-links:hover a {
    color: #38b6ff !important;
}

.highlight-text {
    /* text-transform: uppercase; */
    color: rgb(188, 199, 215) !important;
    /* font-weight: 700; */
    text-decoration: underline;
}

.link-hover-light,
.link-hover-light a {
    transition: 0.2s;
}

.link-hover-light:hover,
.link-hover-light:hover a {
    color: white;
    border-color: white;
    cursor: pointer;
}

.link-hover-light:hover {
    background-color: #38b6ff50;
}

.custom-pill {
    color: #38b6ff;
    background-color: #38b6ff25;
    padding: 0.45rem 0.75rem;
    border-radius: 20px;
    font-size: 0.8rem;
}

.carousel-control-next,
.carousel-control-prev {
    z-index: 0;
}

.btn-contact {
    padding: 1rem 1.5rem;
    background-color: transparent;
    border-radius: 5px;
    border: #38b6ff 2px solid;
    font-size: 1.2rem;
}

.btn-contact:hover {
    background-color: #38b6ff;
    border-color: #38b6ff;
}

.featured-projects-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    align-items: center;
}

svg {
    width: 20px;
    height: 20px;
}

svg.feather {
    fill: none;
}

@media (min-width: 576px) {

    .project-description-container {
        grid-column: 1 / 8;
        z-index: 1 !important;
        width: min-content;
    }

    .project-carousel-container {
        grid-column: 7 / -1;
        z-index: 0 !important;
        grid-column-end: 2 !important;
    }

    .project-first-container {
        position: relative;
        left: 30px;
        grid-area: 1 / 1 / -1 / 1;
        grid-column-start: 1;
    }

    .project-second-container {
        position: relative;
        right: 30px;
        grid-area: 1 / 1 / -1 / -1;
        grid-column-start: 3;
    }

    .description-container {
        width: 600px;
    }
}